<%= render :partial => 'comman/nav'%>

<h1> Search Your Buses</h1>

<form action='/search'>
  <input name='source'  placeholder="Enter your source">
  <input name='destination' placeholder="Enter your destination">
  <button type='submit' >Search</button>
</form>
 