<h1>Welcome to ticketbookingsystem.com, <%= @user.email %></h1>
  <p>
    You have successfully booked your Joruny,
    your username is: <%= @user.email %>.<br>
  </p>
<p>Thanks for booking and have a great day!</p>
